body {
  background-color: #ecf0e3;
  font-family: Monaco;
}

.header {
  background-color:  #40cebb;
  padding: 15px 45px;
  font-weight: 700;
  font-size: 19px;
}

#timer {
  float: right;
}

#highscore:hover {
  color: #e40f0f;
  cursor: pointer;
}

/* Instructions Jumbotron */
.about {
  margin-top: 15px;
  background-color: transparent;
}

.about h1 {
  font-size: 80px;
}

.start-quiz-btn {
  clear: both;
  float: right;
  margin: 5px 15px;
}

.instructions {
  font-size: 19px; 
}

/* Quiz Questions */
.quiz-questions {
  margin-top: 95px;
  display: none;
}

h1 {
  font-weight: 900;
}

.btn {
  display: block !important;
  margin: 15px 0;
  text-align: left;
  background-color: #40cebb;
  border: none;
  color: black;
  font-weight: 500;
}

.btn:hover {
  background-color: #cfc918;
  color: black;
}

.quiz {
  display: none;
}

/* Username Section */


.username-section {
  display: none;
}

#input:focus {
  border: none!important;
}

.margin {
  margin: 100px 30px;

}

/* Highscore Section */
.highscores-section {
  display: none;
  border:black 3px;
  font-size: 15px;
}


.highscore-btn{
  display: inline!important;
}