body {
  background-color: #ecf0e3;
  font-family: Monaco;
}

.header {
  background-color:  #40cebb;
  padding: 15px 45px;
  font-weight: 700;
  font-size: 19px;
}

#timer {
  float: right;
}

#highscore:hover {
  color: #40cebb;
  cursor: pointer;
}

/* Instructions Jumbotron */
.jumbotron {
  margin-top: 15px;
  background-color: transparent;
}

.jumbotron h1 {
  font-size: 80px;
}

.start-quiz-btn {
  clear: both;
  float: right;
  margin: 5px 15px;
}

.instructions {
  font-size: 19px; 
}

/* Quiz Questions */
.quiz-questions {
  margin-top: 95px;
  display: none;
}

h1 {
  font-weight: 900;
}

.btn {
  display: block !important;
  margin: 15px 0;
  text-align: left;
  background-color: #40cebb;
  border: none;
  color: black;
  font-weight: 500;
}

.btn:hover {
  background-color: #cfc918;
  color: black;
}

.quiz {
  display: none;
}
